body{
    background-color: black;
    margin:0;
    
}

.main{
    margin:0 5% 0 5%;
    height: 100vh;
}

*{
    color: aliceblue;
}

#profile{
    border-radius: 50%;
    width: 10rem;
    height: auto;
    /* margin:0 0 0 43%; */
    
}

.image-links{
    width: 2.5em;
    margin:0 1em 0 0 ;
}
.links{
    margin:1.5rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

h1{
    margin: 2px 0;
}

h1, h3{
    margin: 0.5rem 0 0 0 ;
    font-family:'Courier New', Courier, monospace;
}